<section class="row px-4 py-3 ">
  <table class=" table table-striped  table-hover   ">
    <thead class="">
      <tr class="text-center">
        <th>Codigo Provincia</th>
        <th>Nombre</th>
        <th> Cantidad de Bancos</th>
        <th>Cantidad de Clientes</th>

        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let provincia of provincias">
      <tr class="text-center">
        <th scope="row">{{provincia.codigoProvincia}}</th>
        <td colspan="1">{{provincia.nombre}}</td>
        <td colspan="1"><img class="me-1"  src="assets/bank.svg" /> {{provincia.cantidadBancos}}</td>
        <td colspan="1"><img class="me-1" src="assets/clients.svg">{{provincia.cantidadClientes}}</td>
        <td>
          <button [routerLink]="['/provinces', provincia.codigoProvincia]" type="button" class="btn btn-primary me-1 mb-0  mb-sm-2 mb-md-2 mb-lg-0">
            <img src="assets/view.svg">
          </button>
          <button [routerLink]="['/provinces/edit/', provincia.codigoProvincia]" type="button"
            class="btn  btn-secondary me-1 me-1 mb-0  mb-sm-2 mb-md-2 mb-lg-0">
            <img src="assets/edit.svg">
          </button>

          <!-- <button [routerLink]="['',[ currency.codigoMoneda,currency.fecha,currency.codigoBanco]]"
          type="button" class="btn btn-warning me-1">Editar</button> -->
          <!-- (click)="setDelete(currency)" data-bs-toggle="modal" data-bs-target="#exampleModal"-->

          <button type="button" class="btn btn-danger me-1 me-1 mb-0  mb-sm-2 mb-md-2 mb-lg-0  mt-lg-1" (click)="onDelete(provincia.codigoProvincia)">

            <img src="assets/delete.svg">

          </button>
        </td>
      </tr>

    </tbody>
    <tbody *ngIf="provincias.length===0 && !isLoading" class="bg-warning  ">
      <tr>
        <th class="table-active text-center text-info  h1" colspan="6" scope="row">Sin resultados</th>

      </tr>
    </tbody>
  </table>
</section>
