<table class="table">
  <thead>
    <tr>
      <th>Codigo Banco</th>
      <th>Nombre</th>
      <th>Moneda</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td colspan="1" class="table-active">Larry the Bird</td>
      <td>twitter</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td colspan="1" class="table-active">Larry the Bird</td>
      <td>twitter</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="1" class="table-active">Larry the Bird</td>
      <td>twitter</td>
    </tr>
  </tbody>
</table>
