<app-loading-spinner *ngIf="isLoading" [title]="'Moneda'"></app-loading-spinner>


<form class="row row-cols-1  row-cols-sm-1 row-cols-md-1  row-cols-lg-2 p-3  justify-content-center"
  [formGroup]="currencyForm" autocomplete="off">


  <div class="col  border rounded mt-0 mt-sm-2   p-4 c-caja">
    <!-- TITULO -->
    <div class="row mb-4">
      <h2 class="text-center">{{title}} <span class="fw-light">Moneda</span> </h2>
    </div>

    <div class="mb-3">
      <label class="form-label">Codigo Moneda</label>
      <input type="text" placeholder="Ingrese el codigo de moneda" formControlName="codigoMoneda" class="form-control">
      <span *ngIf="isValidField('codigoMoneda')" class="form-text text-danger">
        {{getFieldOfGroupError("codigoMoneda")}}
      </span>
    </div>

    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" placeholder="Ingrese el nombre de la moneda" formControlName="nombre" class="form-control">
      <span *ngIf="isValidField('nombre')" class="form-text text-danger">
        {{getFieldOfGroupError("nombre")}}
      </span>
    </div>

    <div class="row">
      <button type="submit" *ngIf="title!=='Información'" (click)="onSubmit()"
        class="btn btn-primary text-center d-flex justify-content-center"> <img
          [src]="title ==='Agregar' ? 'assets/add.svg' : 'assets/edit.svg'" width="24px" height="24px"
          class="me-1">{{title}}</button>
    </div>
  </div>
</form>
<!-- <code>
    <pre>Formulario es valido: {{currencyForm.valid| json }}</pre>
</code>
<code>
    <pre>Formulario Tipo Cambio: {{currencyForm.value| json }}</pre>
</code>

<code>
    <pre>current Tipo Cambio: {{currentCurrency | json }}</pre>
</code> -->
