<div *ngIf="!!message" [ngClass]="message.isSuccess? 'alert-success ': 'alert-danger'"
  class="alert text-center w-50 animated-box postion-message" role="alert">
  {{message.message}}
</div>
<app-loading-spinner *ngIf="isLoading" [title]="'Moneda'"></app-loading-spinner>

<form class="row p-3  justify-content-center" [formGroup]="currencyForm" autocomplete="off">
  <section class=" col-sm-12  col-md-4 border mt-0 mt-sm-2  rounded p-4 c-caja">
    <!-- TITULO -->
    <div class="row mb-2">

      <h2 class="text-center">{{title}} Moneda</h2>
    </div>


    <!-- ENTRADAS -->
    <!-- NOMBRE -->
    <div class="mb-3">
      <label class="form-label">Codigo Moneda</label>
      <input type="text" placeholder="Ingrese el codigo de moneda" formControlName="codigoMoneda" class="form-control">
      <span *ngIf="isValidField('codigoMoneda')" class="form-text text-danger">
        {{getFieldOfGroupError("codigoMoneda")}}
      </span>
    </div>
    <!-- NOMBRE -->
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" placeholder="Ingrese el nombre de la moneda" formControlName="nombre" class="form-control">
      <span *ngIf="isValidField('nombre')" class="form-text text-danger">
        {{getFieldOfGroupError("nombre")}}
      </span>
    </div>


    <!-- BOTON DE ENVIO -->
    <!-- <div class="mb-3">
      <button type="submit" *ngIf="title!=='Información'" (click)="onSubmit()"
        class="btn btn-primary text-center">{{title}}</button>
    </div> -->
    <div class="row justify-content-center ">
      <button type="submit" *ngIf="title!=='Información'" (click)="onSubmit()"
        class="btn btn-primary text-center">{{title}}</button>
    </div>

  </section>



</form>


<!-- <div class="row">
  <div class="col-sm-12 col-md-4 mt-0 mt-sm-2   me-0 me-md-2 border rounded p-4 c-caja">
    <h3>Vista Previa</h3>
    <hr>
    <code>
        <pre>Todos validos: {{ currencyForm.valid| json }}</pre>
    </code>
    <hr>
    <code>
        <pre>Todos tocados: {{ currencyForm.touched | json }}</pre>
    </code>
    <hr>
    <code>
        <pre>Formulario Cliente: {{ currencyForm.value| json }}</pre>
      </code>
    <hr>
    <code>
        <pre>Nuevo Telefono: {{ currencyForm.value| json }}</pre>
    </code>
    <hr>
    <code>
        <pre>Cliente: {{ currencyForm| json }}</pre>
    </code>
  </div>
</div> -->



<!-- Codigo Banco -->
<!-- <div class="mb-3">
      <label class="form-label">Banco</label>
      <select formControlName="codigoBanco" class="form-select" aria-label="Default select example">
        <option selected class="text-center" value="">-- Seleccione un Banco --</option>
        <option *ngFor="let bank of banks" [value]=bank.codigoBanco>
          {{ bank.codigoBanco +' - '+ bank.nombre}}
        </option>
      </select>

      <span *ngIf="isValidField('codigoBanco')" class="form-text text-danger">
        {{getFieldOfGroupError("codigoBanco")}}
      </span>
    </div> -->
