

<!-- <table class="table rounded">
  <thead>
    <tr>
      <th>Codigo Banco</th>
      <th>Nombre</th>
      <th>Moneda</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody *ngFor="let bank of banks">
    <tr>
      <th class="table-active" scope="row">{{bank.codigoBanco}}</th>
      <td class="table-active" colspan="1">{{bank.nombre}}</td>
      <td class="table-active">{{bank.moneda.nombre}}</td>
      <td class="table-active">
        <button [routerLink]="['/banks', bank.codigoBanco,bank.moneda.nombre]" type="button"
          class="btn btn-primary me-1">Ver</button>
        <button [routerLink]="['/banks/edit/', bank.codigoBanco]" type="button"
          class="btn btn-warning me-1">Editar</button>

        <button [routerLink]="['/phones/list', bank.codigoBanco, 'B']" type="button" class="btn btn-primary me-1">Ver
          telefonos</button>
      </td>
    </tr>
  </tbody>
</table> -->



<section class="row px-4 py-3 ">
  <table class=" table table-striped  table-hover   ">
    <thead  >
      <tr class="text-center">
        <th>Codigo Banco</th>
        <th>Nombre</th>
        <th>Moneda</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let bank of banks">
      <tr class="text-center">
        <th scope="row">{{bank.codigoBanco}}</th>
        <td colspan="1">{{bank.nombre}}</td>
        <td colspan="1">{{bank.moneda.nombre}}</td>
        <td>
          <button [routerLink]="['/banks', bank.codigoBanco,bank.moneda.nombre]" type="button"
            class="btn btn-primary me-1 me-1 mb-0  mb-sm-2 mb-md-2 mb-lg-0  mt-lg-1">
            <img src="assets/view.svg">
          </button>
          <button [routerLink]="['/banks/edit/', bank.codigoBanco]" type="button"
            class="btn  btn-secondary me-1 me-1 mb-0  mb-sm-2 mb-md-2 mb-lg-0  mt-lg-1">
            <img src="assets/edit.svg">
          </button>
          <button [routerLink]="['/phones/list', bank.codigoBanco, 'B']" type="button"
            class="btn  btn-primary me-1 me-1 mb-0  mb-sm-2 mb-md-2 mb-lg-0  mt-lg-1">
            <img src="assets/call.svg">
          </button>
          <button type="button" class="btn btn-danger me-1 me-1 mb-0  mb-sm-2 mb-md-2 mb-lg-0  mt-lg-1" (click)="onDelete(bank.codigoBanco)">

            <img src="assets/delete.svg">

          </button>
        </td>
      </tr>

    </tbody>
    <tbody *ngIf="banks.length===0 && !isLoading" class="bg-warning  ">
      <tr>
        <th class="table-active text-center text-info  h1" colspan="6" scope="row">Sin resultados</th>

      </tr>
    </tbody>
  </table>
</section>
