<div *ngIf="!!message" [ngClass]="message.success? 'alert-success ': 'alert-danger'"
  class="alert text-center w-50 animated-box postion-message" role="alert">
  {{message.message}}
</div>
<app-loading-spinner *ngIf="isLoading" [title]="'Tipo Cambio'"></app-loading-spinner>



<form class="row p-3  justify-content-center" [formGroup]="exchangeRateForm" autocomplete="off">
  <section class=" col-sm-12  col-md-10 col-lg-6 col-xl-6 col-xxl-3  border mt-0 mt-sm-2  rounded p-4 c-caja">
    <!-- TITULO -->
    <div class="row mb-2">

      <h2 class="text-center">{{title}} <span class="fw-light"> Tipo Cambio</span></h2>
    </div>


    <!-- ENTRADAS -->
    <!-- BANCO -->
    <div class="mb-3">
      <label class="form-label">Banco</label>
      <select formControlName="codigoBanco" class="form-select" aria-label="Default select example">
        <option selected class="text-center" value="">-- Seleccione un Banco --</option>
        <option *ngFor="let bank of banks" [value]=bank.codigoBanco>
          {{bank.nombre}}
        </option>
      </select>

      <span *ngIf="isValidField('codigoBanco')" class="form-text text-danger">
        {{getFieldOfGroupError("codigoBanco")}}
      </span>
    </div>
    <!-- MONEDA -->
    <div class="mb-3">
      <label class="form-label">Moneda</label>
      <select formControlName="codigoMoneda" class="form-select" aria-label="Default select example">
        <option selected class="text-center" value="">-- Seleccione una Moneda --</option>
        <option *ngFor="let currency of currencies" [value]=currency.codigoMoneda>
          {{currency.nombre}}
        </option>
      </select>

      <span *ngIf="isValidField('codigoMoneda')" class="form-text text-danger">
        {{getFieldOfGroupError("codigoMoneda")}}
      </span>
    </div>


    <!-- FECHA -->

    <div class="mb-3">
      <label class="form-label">Fecha</label>
      <input type="datetime-local" class="form-select" formControlName="fecha" />

      <span *ngIf="isValidField('fecha')" class="form-text text-danger">
        {{getFieldOfGroupError("fecha")}}
      </span>
    </div>


    <div class="mb-3">
      <label class="form-label">Tipo Cambio Compra</label>
      <input type="text" placeholder="Ingrese el monto tipo cambio compra" formControlName="tipoCambioCompra"
        class="form-control">
      <span *ngIf="isValidField('tipoCambioCompra')" class="form-text text-danger">
        {{getFieldOfGroupError("tipoCambioCompra")}}
      </span>
    </div>

    <div class="mb-3">
      <label class="form-label">Tipo Cambio Venta</label>
      <input type="text" placeholder="Ingrese el monto tipo cambio compra" formControlName="tipoCambioVenta"
        class="form-control">
      <span *ngIf="isValidField('tipoCambioVenta')" class="form-text text-danger">
        {{getFieldOfGroupError("tipoCambioVenta")}}
      </span>
    </div>


    <div class="row">
      <button type="submit" *ngIf="title!=='Información'" (click)="onSubmit()" class="btn btn-primary text-center">
        <img [src]="title ==='Agregar' ? 'assets/add.svg' : 'assets/edit.svg'" width="24px" height="24px"
          class="me-1">{{title}}</button>
    </div>
  </section>
</form>


<!-- <code>
  <pre>current Tipo Cambio: {{currentTipoCambio| json }}</pre>
</code>
<code>
  <pre>Formulario Tipo Cambio: {{exchangeRateForm.value| json }}</pre>
</code> -->
