<form [formGroup]="myForm" autocomplete="off" class="row pb-4">

  <section class="col">
    <button class="btn btn-success" [routerLink]="['/banks/register' ]">Crear Banco</button>
  </section>
  <section class="col-sm-12 col-md-4">
    <div class="input-group ">
      <input type="text" (keydown.enter)="onSearch($event)" formControlName="nombre" class="form-control input-search"
        placeholder="Buscar por nombre" aria-describedby="addon-wrapping">
    </div>
  </section>
  <section class="col d-flex justify-content-end">
    <app-pagination (onDecreaseOffset)="decreaseOffset($event)" (onIncreaseOffset)="increaseOffset($event)"
      [currentOffset]="this.paginationService.getOffsett()" [canPagination]="canPagination">
    </app-pagination>
  </section>
</form>
<bank-table-banks [banks]="banks"></bank-table-banks>

<app-loading-spinner *ngIf="isLoading" [title]="'Bancos'"></app-loading-spinner>

<!--
<code>
  <pre>Es valido: {{ myForm.valid| json }}</pre>
</code>
<code>
  <pre>Offset: {{ this.myForm.get('offset')?.value| json }}</pre>
</code>
<code>
  <pre>Limit: {{ this.myForm.get('limit')?.value| json }}</pre>
</code> -->
<!-- formControlName="name" -->
